

<!--     
<div class = "table-wrapper">
    <h2 > </h2>


<table class = "fl-table">
    <thead>
        
        <tr>
            <th>BookId</th>
            <th> Book Name</th>
            <th> AuthorName </th>
          
            <!-- <th> Availability </th> --
            <th> Price </th>
            <th> Total Count </th>

            <!-- <th> ContactNumber </th> --

        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of cartBooksDisplay " >
            
            <td> {{ product.bookId }} </td>
            <!-- <td> 1 </td> --
            <td> {{ product.bookName }} </td>
            <td> {{ product.authorName }} </td>
            <!-- <td> {{ product.price }} </td> --
            <td> {{ product.price }} </td>
            <td ><input type="number" value="{{ product.Quantity }}"> {{ product.Quantity }} </td>
            
            <!-- <td>
                <button (click) = "updateBook(product.bookId)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteBook(product.bookId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "bookDetail(product.bookId)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td> --
        </tr>
    </tbody>
</table>

</div> -->






<app-user-home-page-navigation-bar></app-user-home-page-navigation-bar>


<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart UI</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>

   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Shopping Cart</h3>
   	   	<h5 class="Action" (click)="clearCart()">Remove all</h5>
   	   </div>

   	   <div class="Cart-Items"  *ngFor = "let product of cartBooksDisplay">
   	   	  <div class="image-box">
   	   	  	<img src="/assets/cart-image.jpg" style=" height:120px" />
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">{{ product.bookName }}</h1>
   	   	  	<h3 class="subtitle">{{ product.authorName }}</h3>
   	   	  	
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<div class="btn"   (click)="increase(product.bookId,product.shopContactNumber)">+</div>
   	   	  	<div class="count">{{product.Quantity}}</div>
   	   	  	<div class="btn" (click)="decrease(product.bookId,product.shopContactNumber)">-</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">₹ {{totalOfEachBook(product.Quantity,product.price)}}</div>
   	   	  
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div>

   	   
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">{{items}} items</div>
   	 	</div>
   	 	<div class="total-amount">₹ {{finalPrice}}</div>
   	 </div>
   	 <a routerLink="/create-order"> <button class="button">Checkout</button></a></div>
   </div>
</body>
</html>