
    body{
        position: fixed;
        z-index: -1;
        top: -1%;
        right: -1%;
        bottom: -1%;
        left: -1%;
        background-image: url("/assets/lib2.jpg");
        background-size: cover;
        overflow: scroll;
    }
