<app-user-home-page-navigation-bar></app-user-home-page-navigation-bar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="h-100 h-custom" >
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;  background-color: black;">
            <div class="card-body p-5" style="width: 75%; background-color: black;" >
  
              <p class="lead fw-bold mb-5" style="color: #f37a27;">Order Reciept</p>
  
              <div class="row">

                <div class="col mb-3">
                  <p class="small text mb-1" >Order No.</p>
                  <p>{{order.orderId}}</p>
              </div>
                <div class="col mb-3">
                  <p class="small text mb-1">Date</p>
                  <p>{{order.date}}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text mb-1">Time</p>
                  <p>{{order.time}}</p>
                </div>  
              </div>
  
              <div class="mx-n5 px-5 py-4" style="background-color: #000000;width: 150%" *ngFor = "let book of order.books">
                <!-- <div class="row"> -->
                  <b>
                  <div class="row">
                    <h5> <p>Book Name:&nbsp;&nbsp;&nbsp;{{book.bookName}}</p></h5>
                  </div>
                  <div class="row">
                    <p>Book Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{book.bookId}}</p>
                  </div>
                  <div class="row">
                    <p>Author Name&nbsp;:&nbsp;&nbsp;&nbsp;{{book.authorName}}</p>
                  </div>
                  <div class="row">
                    <p>Shop Name&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{book.shopName}}</p>
                  </div>
                  <div class="row">
                    <p>Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{book.quantity}}</p>
                  </div>
                  <div class="row">
                    <p>Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;₹&nbsp;{{book.price}}</p>
                  </div>
                  <div class="row">
                    <p>Total Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;₹&nbsp;{{book.totalPrice}}</p>
                  </div>
                <!-- </div> -->
              </b><br>
              =================================
              </div>
  
              <div class="row my-4">
                <div class="col-md-8 offset-md-8 col-lg-10 offset-lg-9">
                  <p class="lead fw-bold mb-0" style="color: #f37a27;"> <b> Amount Paid:&nbsp;₹&nbsp;{{order.price }}</b></p>
                </div>
              </div>
              
              Address Details::&nbsp;&nbsp;<br>Customer Name::&nbsp;<b>{{order.customerName}}</b>
              <br><br>
              <div class="row">

                <div class="col mb-3">
                  <p >Door Number::
                {{order.address.doorNo}}</p>
              </div>
             
              
                <div class="col mb-3">
                  <p >Street Name::{{order.address.streetName}}</p>
                </div>
                </div>
                <div class="row">
                <div class="col mb-3">
                  <p >City::{{order.address.city}}</p>
                </div>  
                <div class="col mb-3">
                  <p >State::{{order.address.state}}</p>
                </div>  
              </div>
  
 
  
              <p class="mt-4 pt-2 mb-0">Want any help? <a  style="color: #f37a27;">Please contact
                  us</a></p>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
</body>
</html>
