
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navigation-bar></app-navigation-bar>
  <p></p>
  <p></p>
  <p></p>
  <p></p><p></p>
  <p></p>
  <h2 style="text-align: center; color: aliceblue;">{{shopDetails.shopName}}</h2>
  <div class="dash-board">  <app-home-page-dash-board></app-home-page-dash-board>
  </div>
  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links 
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="BookList" class="nav-link" routerLinkActive="active">Book List</a>
      </li>
      <li class="nav-item">
          <a routerLink="/AddBook" class="nav-link" routerLinkActive="active">Add Book</a>
      </li>
    </ul>
  </nav> -->
  <!-- <div class="container">
    <br>
    
    <hr>  
    <div class="card">
      <div class="card-body">
   
      </div>
    </div>
  </div> -->
  
  <!-- <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2022 @STG Infotech LLP</span>
    </div>
  </footer> -->
  
    
</body>
</html>
