<app-user-home-page-navigation-bar></app-user-home-page-navigation-bar>

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8" >
          <div class="card" style="border-radius: 10px;width: 800px;">
            <div class="card-header px-4 py-5">
              <h1><p class="lead fw-normal mb-0" style="color: #a8729a; text-align: center; font-weight: bold;font-size: xx-large;">Your Orders </p></h1>
            </div>
            <div class="card-body p-4" >
              <div class="d-flex justify-content-between align-items-center mb-4">
                
               
              </div>
              <div class="card shadow-0 border mb-4" *ngFor = "let order of orderList" >
                <div class="card-body" >
                  <div class="row">
                    <div class="col-md-2">
                      <img src="/assets/order.png"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">
                      OrderId<br>  {{order.orderId}}
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 "> Date <br>
                      <!-- <p class="text-muted mb-0 small"> <br> -->
                        {{order.date}}
                      </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 ">  Total Books <br>{{order.totalNumberOfBooks}}
                      </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 ">Total Price<br>₹ {{order.price}}
                      </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <a class="bn39" (click)="goToOrder(order.orderId)"><span class="bn39span" style="color: aliceblue ;">View Details</span></a>
                    </div>
                  </div>
                  </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
  </section>