<!-- <app-prac></app-prac> -->
<router-outlet></router-outlet>
<!-- <app-user-home-book-list></app-user-home-book-list> -->
<!-- <app-create-order-user></app-create-order-user> -->
<!-- <app-user-home-page></app-user-home-page> -->
<!-- <app-update-book-but></app-update-book-but> -->
<!-- <app-delete-book></app-delete-book> -->
<!-- <app-update-book></app-update-book> -->
<!-- <app-create-book></app-create-book> -->
<!-- <app-login-signin-admin></app-login-signin-admin> -->





<!-- <app-book-details></app-book-details> -->
<!-- <app-sign-in-page></app-sign-in-page> -->
<!-- <app-home-page></app-home-page> not yet defined  -->
<!-- <app-navigation-bar></app-navigation-bar> -->
<!-- <app-list-all-books></app-list-all-books> -->
<!-- <app-side-bar></app-side-bar> -->