<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="full-page" >
  <div class="login-box">
    <h2>Update Book Price</h2>
 <h3>   Book Id:: {{bookId}}</h3>
 <h3>Book Name::<br> {{book.bookName}}</h3>
 <h3>Author Name:: <br>{{book.authorName}}</h3>
 <h3>Current Price::<br>  ₹&nbsp;{{book.price}}</h3><br>
    <form [formGroup]="bookForm" (ngSubmit) = "onSubmit()">
        
       
   
      <!-- <div class="user-box">
        <input type="number" name=""  formControlName="bookId" required="">
        <label>Book Id</label>
      </div> -->
      <div class="user-box">
        <input type="number" name=""  formControlName="newPrice" required="">
        <label>New price of the book</label>
      </div>
      <a  (click)="onSubmit()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       Update Price
      </a>
    </form>
  </div>
</body>

</html>