
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>


  <div class="wrapper">
  <app-user-or-admin-selection></app-user-or-admin-selection>
    
    <div class="title-text">
      <div class="title login">User-Login </div>
      <div class="title signup">User-Signup </div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form [formGroup]="login1Form" class="login" (ngSubmit) = "onSubmitLogin()" >
          <div class="field">
            <input type="number" placeholder="Phone Number" required formControlName="phoneNumber">
          </div>
          <div class="field">
            <input type="password"   placeholder="Password" formControlName="password" required>
          </div>
         
          <div class="field btn">
            <div class="btn-layer"></div>
            <input  type="submit"   value="Login" (onclick)="onSubmitLogin()" >
          </div>
          <div class="signup-link">Not a member? <a href="">Signup now</a></div>
        </form>
        <form [formGroup]="signUpForm" (ngSubmit) = "onSubmit()" class="signup">
          <div class="field">
            <input type="text" placeholder="Name" required formControlName="name">
          </div>
          <div class="field">
            <input type="text" placeholder="User Name" required formControlName="userName">
          </div>
          <div class="field">
            <input type="password" placeholder=" password(Must be 8 chars long)" required formControlName="password">
          </div>
          <div class="field">
            <input type="tel" placeholder=" Phone Number" required formControlName="phoneNumber">
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
    
</body>
</html>
